.navBar {
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
    box-shadow: 0 0 3px 3px violet;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    min-width:fit-content;
    padding-bottom: 20px;
    /* position: fixed */
}

.nav {
    display: flex;
    flex-direction: row;
    justify-self: center;
    /* align-items: center; */
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: lightblue;
    margin-right: 30px;
    text-shadow:  1px 1px 2px black;
    cursor: pointer;
    margin: 5px;
    
    

}

p {
    padding: 10px;
    margin-top: 5px;
}
